.global {
  margin-left: 5%;
  margin-right: 5%;
}

.hr {
  border: 2px solid black;
}

.hr-light {
  border: 2px solid lightblue;
}

.m-right {
  margin-right: 3%;
}

.m-left {
  margin-left: 3%;
}

.m-top {
  margin-top: 3%;
}

.m-bottom {
  margin-bottom: 3%;
}

.m-right-sm {
  margin-right: 1%;
}

.m-left-sm {
  margin-left: 1%;
}

.m-top-sm {
  margin-top: 1%;
}

.m-bottom-sm {
  margin-bottom: 1%;
}